<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1 class= "page-title">Pro Account Sign Up</h1>
        <% else %>
          <h1 class= "page-title">Basic Account Sign Up</h1>
        <% end %>
      </div>
      <div class="well well-form">
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>