<div class="container-fluid background-tint" id="home-container">
    
    <div class="text-center" id="home-callout">
        <h1 class="animated fadeInDown">devcom</h1>
        <h3 class="animated fadeInUp">A community for developers, entrepreneurs, and investors to connect and collaborate</h3>
    </div>
    
    <div id="home-signup">
        <div class="row">
                <% if !user_signed_in? %>
                    <div class="col-md-6">
                        <div class="well well-basic animated fadeInLeft text-center">
                           <h2>Basic Membership</h2> 
                           </br>
                           <h4 class="text-center">Sign up for free and get basic access to the community!</h4>
                            <%= link_to "Sign Up for Free", new_user_registration_path(plan: @basic_plan.id), class: 'btn-free btn btn-primary btn-lg' %>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="well well-pro animated fadeInRight text-center">
                            <h2>Pro Membership</h2> 
                            </br>
                            <h4 class="text-center">Sign up for the pro account for $10/month and get full access to the community!</h4>
                           <%= link_to "Get the Pro Plan", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-primary btn-lg btn-pro' %>
                        </div>
                    </div>
                <% else %>
                    <div class="col-md-6 col-md-offset-3">
                        <%= link_to "View the Community", users_path, class: 'btn btn-community-home btn-lg btn-block btn-raised' %>
                    </div>
                <% end %>
        </div>
    </div>
</div>
