/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets'; 
@import 'font-awesome';


//------------------- Variables ---------------------------------------//

:root {
    --col-pri: #173f4f;
    --col-sec: #3b9160;
    --col-ter: #f2f20d;
    
}



//------------------- General styles ---------------------------------------//

h1,h2,h3,h4,h5,h6, .btn, {
    font-family: 'Dosis', sans-serif;
}

.btn-primary {
    color: white;
    border-color: #173f4f;
    background-color: #173f4f;
    &:hover, &:focus {
        border-color: #225f77;
        background-color: #225f77;
        color: white;
    }
}

.btn-default {
    color: white;
    border-color: #3b9160; 
    background-color: #3b9160; 
    &:hover, &:focus {
        border-color: #4bb679;
        background-color: #4bb679;
        color: white;
    }
}

.alert-notice,
{
     display: none;
}



//------------------- Homepage styles ---------------------------------------//

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-top: -1px;
}

.home-callout {
    font-size: 75px;
    color: white;
    margin-top: -20px;
    padding-top: 70px;
    padding-bottom: 100px;
}

h1.home-title {
    margin-top: 0;
    font-size: 110px;
}


//-----------------------Navigation bar styles ---------------------------------------//

.navbar, 
.home-callout {
    background: #4bb679;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #173f4f, #4bb679);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #173f4f, #4bb679); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: none;
    border: none;
}

.home-callout {
      margin-bottom: 70px;
}


#nav-buttons{
    padding-top: 11px;
    padding-left: 10px;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    font-family: 'Doisis', sans-serif;
    color: white;
    font-size: 13px;
    margin-top: 6px;
    
    &:hover, &:focus {
         color: #225f77;
    }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    font-size: 25px;
}

.navbar-default .navbar-toggle {
    border-color: white;
    
    &:hover, &:focus {
        background-color: #224f5e;
    }
}


.dropbtn {
    font-size: 30px;
    margin-top: 3px;
    cursor: pointer;
    color: white;
    &:hover, &:focus {
        color: #225f77;
        
    }
}

.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    
    & span {
        
    }
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


//------------------- Form styles ---------------------------------------//

.well-form {
    background: rgba(59, 145, 96, 0.9);
    color: white;
}
