/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets'; 
@import 'font-awesome';

h1,h2,h3 {
    font-family: 'Dosis', sans-serif;
 
}

h1.home-title {
   font-family: 'Dosis', sans-serif;
    font-size: 100px;
}


// Navbar Styles

.navbar, 
.home-callout {
    //gradient provided by @_ighosh (UI Gradients)
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-callout {
      margin-bottom: 70px;
}


.navbar {
    border:none;
}

.btn-primary {
}

#nav-buttons{
    padding-top: 11px;
    padding-left: 10px;

}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    font-family: 'Doisis', sans-serif;
    color: white;
    font-size: 13px;
    margin-top: 6px;
    
    &:hover, &:focus {
         color: white;
         opacity: 0.80;
    }
}

.alert-notice {
    display: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    font-size: 25px;
}

.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 70px;
    padding-bottom: 150px;
}

.navbar-default .navbar-toggle {
    border-color: white;
    
    &:hover, &:focus {
        background-color: #224f5e;
    }
}
