/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-material-design
 */
 
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets'; 
@import 'font-awesome';

@import "variables";


//------------------- General styles ---------------------------------------//


.html, .body {
    height: 100%;
}

#home-container {
    height: 100%;
    width: 100%; 
    padding-bottom: 260px;
}

h1,h2,h3,h4,h5,h6,p, .btn, {
   font-family: 'Ubuntu', sans-serif;
}

.btn-default {
    background-color: $col-ter !important;
    color: white !important;
}

.page-title {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 40px;  
    color: $col-ter;
}

.btn .btn-primary {
    color: $col-pri;
    //border-color: white;
    //background-color: white;
    &:hover, &:focus, &:active {
        border-color: #d9d9d9;
        background-color: #d9d9d9;
        color: black;
    }
}

.btn-default {
    color: $col-sec;
    padding: 5px;
    border-color: white; 
    background-color: $col-pri; 
    &:hover, &:focus, &:active {
        border-color: white; 
        background-color: $col-pri;
        color: #bfbfbf;
        text-decoration: none;
    }
}

.alert-notice {
     display: none;
}


//------------------- Homepage styles ---------------------------------------//

#home-callout {
    height: 100%;
    margin-top: -30px;
    color: white !important;
    animation-duration: 4s;
    h1 {
        font-size: 130px;
        margin-top: 140px;
    }
}

#home-signup {
    padding-top: 130px;
    //padding-bottom: 200px;
    height: 100%;
    h4 {
        margin-top: -5px;
    }
    h2 {
        margin-top: 2px;
    }
}

.well-basic, .well-pro {
    color: $col-pri !important;
    margin-right: 120px;
    margin-left: 120px;
    animation-delay: 1s;
}

.well-pro {
    color: $col-sec !important;
}

.btn-community-home {
    background-color: white !important;
    color: $col-pri !important;
}

.btn-free {
    margin-top: 15px;
    background-color: $col-pri !important;
    color: white !important;
}

.btn-pro {
    margin-top: 15px;
    background-color: $col-sec !important;
    color: white !important;
}


//-----------------------Navigation bar styles ---------------------------------------//

.navbar {
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: none;
    border: none;
}

#home-container, 
#home-callout, 
#home-signup {
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
    height: 100%;
    width: 100%;
    margin-top: -25px;
}

.navbar, 
.navbar.navbar-default {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: -10px;
}

.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-top: -1px;
}

#nav-buttons{
    padding-top: 10px;
    padding-left: 10px;
}

.btn-navbar {
    background-color: white !important;
    color: $col-sec !important;
    text-transform: capitalize !important;
    margin-top: 0px !important;
}

.navbar-default .navbar-brand, 
.navbar .navbar-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
    font-size: 13px;
    margin-top: 6px;
    
    &:hover, &:focus {
         color: #d9d9d9 !important;
    }
}

.navbar-default .navbar-toggle {
    border-color: white;
    
    &:hover, &:focus {
        background-color: #d9d9d9;
    }
}

#nav-login {
    
}

.dropbtn {
    font-size: 30px;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    &:hover, &:focus {
        color: #d9d9d9;
    }
}

.dropdown {
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}


//------------------- Form styles ---------------------------------------//

.form-group .checkbox label, 
.form-group .radio label, 
.form-group label,
.form-group .form-control{
    color: $col-pri !important;
}



.card-exp {
   display: inline-block;
}
.card-cvv {
    display: inline-block;
    margin-left: 100px !important;
}

.form-group select {
    margin-top: 10px;
    padding: 2px;
}

.form-link {
    color: $col-pri !important;
    &:hover, &:focus {
        color: $col-sec;
    }
}

textarea.form-control {
    height: 150px;
}


//------------------- Contact styles ---------------------------------------//

#contact-title {
    margin-top: 60px;
}

#map-container {
    position: relative;
}

#map {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-top: -22px;
}
