@import "variables";



.profile-page {
    margin-top: 100px;
}

.avatar-prof-img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

.well.pro-contact-block {
    display: table;
    margin: auto;
    color: white;
    background-color: $col-pri;
    margin-top: 40px;
    h2 {
        margin-top: -5px;
    }
}

.well.description-block {
    color: white;
    background-color: $col-sec;
    margin-top: 40px;
    h2 {
        margin-top: -5px;
    }
}

.fa-ul  {
   
    > li {
        margin-top: 10px;
        display: inline-block;
        margin-left: auto;
        i {
            font-size: 15px;
        }
    }
    span {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    }
}

.job-title {
    display: table;
    margin: auto;
}


.job-icon-dev {
    display: inline-block;
    font-size: 25px;
    border: 1px solid $col-pri;
    border-radius: 40px;
    padding: 4px;
    background-color: $col-pri;
    color: white;
    //padding-top: 10px;
    text-align: center;
}

.job-icon-inv:before {
    display: inline-block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid #85bb65; //dollar green
    border-radius: 50px;
    background-color: #85bb65;
    color: black;
    padding-top: 8px;
    padding-left: 7px;
}

.job-icon-ent:before {
    display: inline-block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #ffff00;
    color: black;
    padding-top: 8px;
    padding-left: 14px;
}



//---------------------------- User Index Styles ----------------------//
.user-index-avatar {
    width: 128px;
    height: 128px;
}

.well{
    color: white;
    &.bg1 {
        background-color: $col-pri;
    }
    &.bg2 {
       background-color: rgba($col-sec, 0.6);
    }
} 

.index-callout {
    margin-top: -10px;
    margin-bottom: 60px;
}

.label-default {
    background: white;
    color: $col-pri;
}
